.header {
  padding: 20px;
  background: url("../images/header.webp");
  margin-bottom: 40px;
}

h3 {
  padding: 10px;
}

.donation-information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  
  gap: 20px;
}

.donation-information form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  width: 80%;
}

.donation-information form #phone {
  width: 80%;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
.donation-information form label {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.date {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;

}
.date .rdrDateRangePickerWrapper{
  display: flex;
  margin-left: auto;
  margin-right: auto  ;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.date {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* Add this line */
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

.dateRange .rdrDateRangePickerWrapper{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.rdrCalendarWrapper{
  display: none;
}

input {
  padding: 20px;
  border-radius: 10px;
  border: 1px solid black;
}

select {
  padding: 20px;
  border-radius: 10px;
  border: 1px solid black;
}

option {
  padding: 5px 10px; /* Add padding around option text */
  border: 1px solid #ccc; /* Add a border */
}
.rdrDefinedRangesWrapper {
  display: none;
  
}

.leaflet-container{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  overflow-x: auto;
  height: 450px;
  border-radius: 40px;
}

@media (max-width: 767px) {
  .header {
    margin-top: 80px;
  }
  form{
    width: 100vw;
  }

  .Donation-Section {
    padding: 10px;
  }

  .Donation-Section .hero {
    flex-direction: column;
    align-items: center;
  }

  h3 {
    padding: 5px;
  }

  .Donation-Section .Pos {
    flex-direction: column;
  }

  .Donation-Section .donation-information {
    width: 100%;
  }

  .date {
    padding: 10px;
  }

  input,
  select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
  }

  option {
    padding: 5px 10px;
    border: 1px solid #ccc;
  }

  .rdrDateRangePickerWrapper {
    /* Adjust styles for mobile */
    width:100%; /* Make the component full width */
  }

  .rdrDateDisplayItem {
    /* Adjust font size or other styles for better readability */
    font-size: 14px;
  }

  .rdrMonths,
  .rdrWeekDays,
  .rdrDays {
    /* Adjust flex properties or margins for better layout */
    flex-wrap: wrap; /* Wrap elements on smaller screens */
  }
}
